.normal {
  margin-top: 20px;
  border-radius: 3px;
  padding: 8px 10px;
  background-color: #4c8dff;
  color: #fff;
}
.custom {
  margin-top: 20px;
  font-size: 14px;
  border-radius: 3px;
  padding: 8px 10px;
  background-color: #4c8dff;
  color: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.25s linear;
}

.custom:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  display: block;
  position: absolute;
  border-radius: 50%;
  padding-top: 240%;
  padding-left: 240%;
  margin-top: -120%;
  margin-left: -120%;
  opacity: 0;
  transition: all .7s;
}

.ripple:active:after {
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  opacity: 1;
  transition: 0s;
}

.circle{
  position: absolute;
  bottom: 30px;
  left : 50%;
  margin-left: -50px;
  background-color: #d1b563;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  transition: all 0.5s ease;
}
.circle p{
  color: #fff;
}

.circle:active{
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
}
